# Google SEO authentikáció

/googlef67f98e02ef6449a.html

# Privát fájlok

/priv

# Felhasználói fájlok

/megoszto/fajlok/

# Együttnéző működéséhez generált szemetek

/egyuttnezo/node_modules
/egyuttnezo/package.json
/egyuttnezo/package-lock.json

/admin/backup/

/test/

# Csomagolt Javascript fájlok

/megoszto/megoszto.js
/admin/admin.js
/egyuttnezo/egyuttnezo.js
/index/index.js
/egyuttnezo/egyuttnezo.js
/erettsegiszamlalo/erettsegiszamlalo.js
/hauszkft/hauszkft.js
/kezelo/jelszo_valtoztatas.js
/kezelo/regisztracio.js
/pizzatierlist/pizzatierlist.js
/teamspeak/teamspeak.js
/webjosda/josda.js
/webjosda/fizetos.js