# Google SEO authentikáció

/public/googlef67f98e02ef6449a.html

# Privát fájlok

/priv
/teamspeak/adatbazis/*.sqlitedb
/public/megoszto/fajlok/*

/teszteles/node_modules
/teszteles/package.json
/teszteles/package-lock.json
/teszteles/cypress/videos/

# Docker container adatok

/docker/adatbazis/adatok/*
/docker/teamspeak/adatbazis/adatok/*
/docker/teamspeak/szerver/adatok/*

# Csomagolt Javascript fájlok

/public/megoszto/megoszto.js
/public/admin/admin.js
/public/index/index.js
/public/erettsegiszamlalo/erettsegiszamlalo.js
/public/hauszkft/hauszkft.js
/public/kezelo/jelszo_valtoztatas.js
/public/kezelo/regisztracio.js
/public/kezelo/meghivo.js
/public/teamspeak/teamspeak.js
/public/teamspeak/fiok_varazslo/fiok_varazslo.js
/public/webjosda/josda.js
/public/webjosda/fizetos.js
/public/minecraft/minecraft.js

# mentések

/admin/mentes/*
/admin/mentes_privat.sh
/teamspeak/adatbazis/*.sql

# VSCode beállítások

.vscode

# Certificatek

/public/*.pem

# Rust webszerver fájlok
/webszerver/target/*
/webszerver/registry/*
/webszerver/scriptek/*.sh

konfiguracio.toml
privat_konfiguracio.toml

# Minecraft server
/docker/minecraft-server/adatok/*
/docker/minecraft-server/plugins/*

# Navidrome
/docker/navidrome/adatok/*
/docker/navidrome/fajlok/*

# Vaultwarden
/docker/vaultwarden/adatok/*

# VPN
/docker/vpn/adatok/*

# Kubeconfig
kubeconfig.yaml

# Privát fájlok
/forras/kiadas/privat_kiadasa.sh
/forras/csomagolas/privat_csomagolasa.sh
/docker/pihole/dns.list
/k8s/konfiguraciok/*.yaml