# Google SEO authentikáció

/public/googlef67f98e02ef6449a.html

# Privát fájlok

/priv
/teamspeak/adatbazis/*.sqlitedb
/public/megoszto/fajlok/*

# Együttnéző működéséhez generált szemetek

/forras/egyuttnezo_szerver/node_modules
/forras/egyuttnezo_szerver/package.json
/forras/egyuttnezo_szerver/package-lock.json

/teszteles/node_modules
/teszteles/package.json
/teszteles/package-lock.json
/teszteles/cypress/videos/

# Docker container adatok

/adatbazis/adatok/*
/teamspeak/adatbazis/adatok/*
/teamspeak/szerver/adatok/*

# Csomagolt Javascript fájlok

/public/megoszto/megoszto.js
/public/admin/admin.js
/public/egyuttnezo/egyuttnezo.js
/public/index/index.js
/public/egyuttnezo/egyuttnezo.js
/public/erettsegiszamlalo/erettsegiszamlalo.js
/public/hauszkft/hauszkft.js
/public/kezelo/jelszo_valtoztatas.js
/public/kezelo/regisztracio.js
/public/kezelo/meghivo.js
/public/teamspeak/teamspeak.js
/public/teamspeak/fiok_varazslo/fiok_varazslo.js
/public/webjosda/josda.js
/public/webjosda/fizetos.js
/public/minecraft/minecraft.js

# mentések

/admin/mentes/*
/teamspeak/adatbazis/*.sql

# VSCode beállítások

.vscode

# Certificatek

/public/*.pem

# Privát 
/forras/ruhaszamlalo/*.*
/public/ruhaszamlalo/*.*