.hauszkft_h1 {
    text-align: center;
    text-decoration: underline overline;
    text-decoration-color: #33cc00;
    font-size: 50px;
}
.hauszkft_h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
}
.hauszkft_p {
    margin: auto 30%;
    text-align: justify;
    font-size: 20px;
    color: #FFFFFF;
}
.hauszkft_a {
    text-decoration: none;
    color: #cc00cc;
}
.hauszkft_ol {
    margin: auto 30%;
    text-align: justify;
    font-size: 20px;
    color: #FFFFFF;
}
.hauszkft_li {
    margin: auto 30%;
    text-align: justify;
    font-size: 20px;
    color: #FFFFFF;
}
.hauszkft_footer {
    background-color: #F500F9;
}
