Order deny,allow
Deny from all

<Files egyuttnezo.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files egyuttnezo.js>
    Order Allow,Deny
    Allow from all
</Files>

DirectoryIndex egyuttnezo.php