[Unit]
Description=egyuttnezo_szerver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/nodejs /var/www/forras/egyuttnezo/egyuttnezo_szerver.js

[Install]
WantedBy=multi-user.target

