Order Allow,Deny
Allow from all

<FilesMatch "admin\.php|admin\.js|admin\.html">
    Header add X-Robots-Tag "noindex"
    Header add X-Robots-Tag "googlebot: nofollow"
    Header add X-Robots-Tag "otherbot: noindex, nofollow"
</FilesMatch>

<FilesMatch "backup|backup.sh">
    Order deny,allow
    Deny from all
</FilesMatch>

DirectoryIndex admin.html