Order Allow,Deny
Allow from all

<FilesMatch "adatbazis\.php|alap_fuggvenyek\.php">
    Order deny,allow
    Deny from all
    Header add X-Robots-Tag "noindex"
    Header add X-Robots-Tag "googlebot: nofollow"
    Header add X-Robots-Tag "otherbot: noindex, nofollow"
</FilesMatch>

<FilesMatch ".*\.(js|html)">
    Header add Cache-Control "public, max-age=120"
</FilesMatch>