Order Allow,Deny
Allow from all

<FilesMatch "megoszto.php|megoszto.js">
    Header add X-Robots-Tag "noindex"
    Header add X-Robots-Tag "googlebot: nofollow"
    Header add X-Robots-Tag "otherbot: noindex, nofollow"
</FilesMatch>

<FilesMatch "\.htaccess">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<FilesMatch "forras">
    Order Deny,Allow
    Deny from all
</FilesMatch>

RewriteEngine on

# Régi request.php URL-ek támogatása átírással
RewriteCond %{QUERY_STRING} (.*)
RewriteRule request\.php /megoszto/megoszto.php?letoltes&%1

# Fajlok mappa elérésének tiltása átirányítással
RewriteRule (.*)fajlok(.*) https://hausz.stream/megoszto/
RewriteRule (.*)feltoltes.html(.*) https://hausz.stream/megoszto/
RewriteRule (.*)feltoltes.php(.*) https://hausz.stream/megoszto/

DirectoryIndex megoszto.html