Order Allow,Deny
Allow from all

<Files request.php>
    Header add X-Robots-Tag "noindex"
    Header add X-Robots-Tag "googlebot: nofollow"
    Header add X-Robots-Tag "otherbot: noindex, nofollow"
</Files>

<Files feltoltes.php>
    Header add X-Robots-Tag "noindex"
    Header add X-Robots-Tag "googlebot: nofollow"
    Header add X-Robots-Tag "otherbot: noindex, nofollow"
</Files>

DirectoryIndex feltoltes.html